version: "3.9"

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: shviki_db
      MYSQL_USER: shviki_user
      MYSQL_PASSWORD: shviki_pass
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -u$${MYSQL_USER} -p$${MYSQL_PASSWORD} --silent"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  app:
    image: alon2810/shvikifitness:latest   
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    environment:
      FLASK_ENV: production
      SECRET_KEY: super-secret-key
      EXERCISE_API_KEY: a7e283e943msh9ef1e13e34a30a1p106ce1jsn207b35aa2876
      EXERCISE_API_HOST: exercisedb-api1.p.rapidapi.com
      SQLALCHEMY_DATABASE_URI: mysql+pymysql://shviki_user:shviki_pass@db:3306/shviki_db

volumes:
  dbdata:
