apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
spec:
  replicas: {{ .Values.app.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.app.name }}

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
    spec:
      terminationGracePeriodSeconds: 30
      serviceAccountName: shviki-fitness-sa-v2  # Link to the SA above

      containers:
        - name: {{ .Values.app.name }}
          image: "{{ .Values.app.image }}"
          ports:
            - containerPort: {{ .Values.app.port }}
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 300m
              memory: 256Mi

          livenessProbe:
            httpGet:
              path: /health
              port: {{ .Values.app.port }}
            initialDelaySeconds: 40
            periodSeconds: 15
            timeoutSeconds: 5
            failureThreshold: 5

          readinessProbe:
            httpGet:
              path: /health
              port: {{ .Values.app.port }}
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            successThreshold: 1
            failureThreshold: 10

          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh", "-c", "echo 'Graceful shutdown...'; sleep 5"]

          env:
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.app.name }}-secret
                  key: SECRET_KEY
            - name: DB_HOST
              value: "{{ .Chart.Name }}-mysql"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: MYSQL_DATABASE
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: MYSQL_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.mysql.secretName }}
                  key: MYSQL_PASSWORD
            - name: EXERCISE_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.app.name }}-secret
                  key: EXERCISE_API_KEY
            - name: EXERCISE_API_HOST
              value: "exercisedb.p.rapidapi.com"
