# Summary: Flask Application Service
# Description:
# This Service exposes the Flask application running in the Deployment.
#
# If type: ClusterIP, the Service is internal only.
# If type: NodePort, it allows external access (for example, via
#   'minikube service shviki-fitness-service --url').
#
# This Service provides the entry point for users to access the ShvikiFitness web app.

apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-service              # Service name for the Flask web app
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-attributes: deletion_protection.enabled=false
spec:
  type: {{ .Values.service.type }}             # NodePort, ClusterIP, or LoadBalancer
  selector:
    app: {{ .Values.app.name }}                # Matches pods labeled with the Flask app name
  ports:
    - port: 80
      targetPort: {{ .Values.app.port }}
      protocol: TCP
