apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}-mysql
spec:
  selector:
    app: mysql
  ports:
    - port: {{ .Values.mysql.port }}
      targetPort: {{ .Values.mysql.port }}
      protocol: TCP
  type: ClusterIP
