{{- $cm := lookup "v1" "ConfigMap" "argocd" "shviki-irsa-config" }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: shviki-fitness-sa-v2
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
{{- if and $cm $cm.data $cm.data.iam_role_arn }}
    eks.amazonaws.com/role-arn: "{{ $cm.data.iam_role_arn }}"
{{- end }}
