{{- $cm := lookup "v1" "ConfigMap" "sh" "shviki-irsa-config" -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: shviki-fitness-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    eks.amazonaws.com/role-arn: {{ $cm.data.iam_role_arn }}
