 helm template .
Error: template: shviki-fitness/templates/serviceaccount.yaml:10:44: executing "shviki-fitness/templates/serviceaccount.yaml" at <$cm.data.iam_role_arn>: nil pointer evaluating interface {}.iam_role_arn

Use --debug flag to render out invalid YAML