{{- $cm := lookup "v1" "ConfigMap" "argocd" "shviki-irsa-config" }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: shviki-fitness-sa
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
    eks.amazonaws.com/role-arn: {{- if and $cm $cm.data $cm.data.iam_role_arn }} {{ $cm.data.iam_role_arn | quote }} {{- else }} "" {{- end }}
