---
{{- $cm := lookup "v1" "ConfigMap" "argocd" "shviki-irsa-config" }}

apiVersion: v1
kind: ServiceAccount
metadata:
  name: shviki-fitness-sa
  namespace: {{ .Release.Namespace }}
  annotations:
{{- if and $cm $cm.data $cm.data.iam_role_arn }}
    eks.amazonaws.com/role-arn: {{ $cm.data.iam_role_arn | quote }}
{{- else }}
    eks.amazonaws.com/role-arn: ""
{{- end }}
