apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-deployment
  namespace: shviki-fitness
spec:
  replicas: 3
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.36
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL to be ready..."
              while true; do
                nc -z mysql-service 3306 >/dev/null 2>&1 && break
                echo "MySQL not ready yet, sleeping 3s..."
                sleep 3
              done

              echo "MySQL is ready!"
      containers:
        - name: flask
          image: alon2810/shvikifitness:latest
          ports:
            - containerPort: 5000
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secret
          livenessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
