{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>My Saved Exercises</h2>
    <div class="row">
        {% for ex in exercises %}
        <div class="col-md-4 mb-3">
            <div class="card p-2">
                <h5>{{ ex.exercise_name }}</h5>
                <p><b>Target:</b> {{ ex.target }}</p>
                <p><b>Equipment:</b> {{ ex.equipment }}</p>
                <img src="{{ ex.gif_url }}" class="img-fluid">

                <form action="{{ url_for('delete_exercise', exercise_id=ex.id) }}" method="POST">
                    <button type="submit" class="btn btn-sm btn-danger mt-2">Delete</button>
                </form>
            </div>
        </div>
        {% else %}
        <p>No exercises saved yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
